
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}


.btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btn-info {
    background-color: #3498db;
    color: white;
}

.btn-primary {
    background-color: #2c3e50;
    color: white;
}

.btn-success {
    background-color: #27ae60;
    color: white;
}



